<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>

    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
        <header>
            <h2>Peter Lonestar</h2>
            <h4>Founder</h4>
        </header>
        <p>
            Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venanatis
            dapibus posuere velit aliquet. Donec ullamcorper
        </p>
    </section>

    <section class="info">
        <header>
            <h2>Bill Billerson</h2>
            <h4>CFO</h4>
        </header>

        <p>
            Cras Mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consectetur est at
            lobortix.
        </p>
    </section>

    <section class="info">
        <header>
            <h2>Dustin Faulk</h2>
            <h4>CTO</h4>
        </header>
        <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed
            consectetur. Morbi leo risus, porta ac
        </p>
    </section>
</div>

<footer>

</footer>